* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  font-weight: 400;
  font-family: sans-serif;
  /* background: #12c2e9;
  background: -webkit-linear-gradient(to right, #f64f59, #c471ed, #12c2e9);
  background: linear-gradient(to right, #f64f59, #c471ed, #12c2e9); */
}

body,
html,
.App,
#root,
.outer {
  width: 100%;
  height: 100%;
}
/* form {
  width: 40%;
  margin: auto;
} */
.navbar-light {
  background-color: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
}

.outer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
}

.inner {
  width: 450px;
  margin: auto;
  background: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 40px 55px 45px 55px;
  border-radius: 15px;
  transition: all 0.3s;
}

.outer .form-control:focus {
  border-color: #167bff;
  box-shadow: none;
}

.outer h3 {
  text-align: center;
  margin: 0;
  line-height: 1;
  padding-bottom: 20px;
}

.custom-control-label {
  font-weight: 400;
}

.forgot-password,
.forgot-password a {
  text-align: right;
  font-size: 13px;
  padding-top: 10px;
  color: #7f7d7d;
  margin: 0;
}

.forgot-password a {
  color: #167bff;
}

textarea {
  resize: none;
}
/* form {
  display: none;
} */

.md-ft {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}
.reg {
  width: 80%;
  border: 0;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4.5px);
  -webkit-backdrop-filter: blur(4.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.reg:hover {
  background: rgba(255, 255, 255, 0.6);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(15.5px);
  -webkit-backdrop-filter: blur(15.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.mar {
  /* position: absolute; */
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 10000000;
}
.icon-i {
  width: 50px;
  height: 50px; /*https://previews.123rf.com/images/arcady31/arcady311812/arcady31181200080/114185785-namaste-hands-greeting-symbol.jpg*/
  border-radius: 50%;
  font-size: 20px;
  color: white;
  background-image: url(./namaste.png);
  background-size: cover;
  background-color: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.flexingmodal {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
/* .modal-header {
  display: flex;
} */
.cross {
  display: inline-block;
  width: 100%;
  height: 10 0%;
  justify-self: end;
}
.custom-dialog {
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(8.5px);
  -webkit-backdrop-filter: blur(8.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  color: white;
}
.custom-input {
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4.5px);
  -webkit-backdrop-filter: blur(4.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  color: white;
}
.Thanks {
  margin: 0 auto;
  justify-self: flex-;
}
.modal-header {
  border: none;
  display: flex;
  justify-content: center;
}

.custom-input::placeholder {
  color: white;
  opacity: 1;
}
.namasteimg {
  width: 90%;
  object-fit: cover;
}
.close {
  margin: 0px;
}
