@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

.page {
  background-image: url("./img3.jpg");
  background-size: stretch;
  color: white;
}
.fam {
  font-family: "Montserrat", sans-serif;
  line-height: 1.5;
  padding: 30px;
  padding-top: 10px;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.head {
  text-transform: uppercase;
  color: rgb(136, 146, 146);
}

.vdo {
  width: 80%;
}
iframe {
  border-radius: 10px;
}
